<div class="modal-dialog modals-default">
    <div class="modal-content">
        <div class="modal-header">
            Advertencia
            <button  type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="cerrar_modal_eliminacion()">&times</button>
        </div>
        <div class="modal-body text-center"> {% csrf_token %}
                <strong id="texto_modal_eliminacion" style="font-size: 24px">¿Desea Eliminar {{ object }} ?</strong>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger"  data-align="right" type="button"
                    onclick="eliminar_coe({{ object.pk }});"> <strong>Confirmar Eliminacion</strong> </button>
            <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="cerrar_modal_eliminacion()"><strong>Cancelar</strong> </button>
        </div>
    </div>
</div>